<!Doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="styles/styles.css" rel="stylesheet">
  </head>
  <body>
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <header>
      <h1>Calculator</h1>
      Theme: 
      <div class="slider-switcher">
          <div class="item1 firstPosition" >Light</div>
          <div class="item2 secondPosition">Dark</div>
          <div class="switcher"></div>
      </div>
    </header>

    <div id="Engineer" class="calc"></div>
    <div id="Simple" class="calc"></div>

    <div class="clear"></div>

    
    <footer>
      <div class="copyright"> Copyright@2018 All Right Reserved<br> Chicherin Artem</div>
    </footer>
    <script>
        function switchTheme(theme) {
            document.body.className = theme;
        }
      </script>
  </body>
</html>